#contact{
    &bkg{
        background-image: url('../assets/img/header_contacto.jpg');
    }

    &Card{
        border: 4px solid $secondary;
        padding: 50px 80px;
        background-color: white;
    }
}

@media screen and (max-width: 450px){
    #contact{    
        &Card{
            padding: 50px 40px;
        }
    }
}