#teachingbkg{
    background-image: url('../assets/img/header_docencia.jpg');
}

#pastevents{
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;

    h2{
        font-size: 1rem;
        line-height: 1.2;
    }

    h4{
        font-size: 1.2rem;
    }

    .headline{
        font-size: .7rem;
    }

    p{
        font-size: .8rem;
    }

    .btn--link{
        font-size: .8rem;
    }

    .past-events__item{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: rgba(0, 0, 0 ,.15) 1px solid;
        cursor: pointer;
    }
}