$primary: #333b97;
$secondary: #8685E0;
$tertiary: #4dffa1;
$gradient-primary-start: #5158d1;
$gradient-primary-end: #333b88;
$gradient-secondary-start: #a6fcd0;
$gradient-secondary-end: $tertiary;

.text-primary{
    color: $primary;
}

.text-secondary{
    color: $secondary;
}

.text-tertiary{
    color: $tertiary;
}

.text-white{
    color: white;
}

.text-soft{
    opacity: .5;
}

.bkg-primary{
    background-color: $primary;
}

.bkg-secondary{
    background-color: $secondary;
}

.bkg-tertiary{
    background-color: $tertiary;
}

.bkg-white{
    background-color: white;
}