body{
    position: relative;
}

.container{
    position: relative;
}

#content{
    padding-bottom: 50px;
}

//For dektop only
@media only screen and (min-width: 75em){
    .container {
        width: 85rem;
    }
}

//For mobile only
@media only screen and (max-width: 47em){
    #content {
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}