.btn{
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    font-family: 'nunito-regular', sans-serif;
    text-align: center;
    cursor: pointer;
    @include all-ease;

    &--primary{
        color: $tertiary;
        background: $gradient-primary-start;
        background: -moz-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $gradient-primary-start), color-stop(100%, $gradient-primary-end));
        background: -webkit-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
        background: -o-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
        background: -ms-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
        background: linear-gradient(to right, $gradient-primary-start 0%, $gradient-primary-end 100%);
        display: block;

        &:hover{
            background: $tertiary;
            color: $primary;
        }
    }

    &--link{
        color: $tertiary;
        text-decoration: underline;
    }
}