.footer{
    background-color: $primary;
    color: white;
    margin-top: 270px;
    line-height: 1.2;
    padding: 25px 0;

    &__icon{
        border-radius: 50%;
        background-color: rgba(134, 133, 224, .3);
        padding: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        display: block;
        text-align: center;

        &__img{
            height: 30px;
        }
    }
}

@media screen and (max-width: 47em){
    .footer{
        margin-top: 0;
    }
}