.navbar{
    padding: 20px 40px;
    background-color: white;

    img[data-condition="showOnStick"]{
        display: none;
    }

    img[data-condition="hideOnStick"]{
        display: block;
    }

    &__menu{
        &__item{
            display: inline-block;
            padding: 0 20px;
            text-align: center;
            position: relative;

            &:hover{
                &>a{
                    color: $tertiary;
                }
            }

            a, span{
                text-decoration: none;
                color: $secondary;
                font-size: 1.2rem;
                padding-bottom: 3px;
                transition: all ease .5s;
                display: block;
                cursor: pointer;
            }

            #linkMaimonides{
                border-radius: 20px;
                border: 1px solid $secondary;
                padding: 5px 15px;
                width: 180px;
            }

            &.active{
                a, span{
                    border-bottom: 3px solid $tertiary;
                }
            }

            .navbar__submenu{
                margin-top: 10px;
                width: 200px;
                padding: 10px 0;
                background-color: white;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
                box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
        
                &__item{
                    width: 100%;            
                    text-align: left;
                    cursor: pointer;
        
                    a, span{
                        transition: all ease .5s;
                        padding: 10px 25px;
                    }
        
                    &:hover{
                        a{
                            color: $tertiary;
                        }
                    }
                }
            }
        }
    }

    .row{
        transition: padding ease .5s;

        &.stuck {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            right: 0;
            padding: 20px 40px;
            z-index: 8;
            background: $gradient-primary-start;
            background: -moz-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, $gradient-primary-start), color-stop(100%, $gradient-primary-end));
            background: -webkit-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
            background: -o-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
            background: -ms-linear-gradient(left, $gradient-primary-start 0%, $gradient-primary-end 100%);
            background: linear-gradient(to right, $gradient-primary-start 0%, $gradient-primary-end 100%);
            -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);

            img[data-condition="showOnStick"]{
                display: block;
            }

            img[data-condition="hideOnStick"]{
                display: none;
            }

            .navbar{
                &__menu{
                    &__item{
                        &:hover{
                            &>a, span{
                                color: $tertiary;
                            }
                        }
            
                        a, span{
                            color: $secondary;
                        }
            
                        #linkMaimonides{
                            border: 1px solid $secondary;
                        }
            
                        &.active{
                            a, span{
                                color: white;
                            }
                        }
                    }
                }

                &__submenu{        
                    &__item{            
                        &:hover{
                            a, span{
                                color: $tertiary;
                            }
                        }
                    }
                }
            }
        }
    }

    #submenu{
        display: none;
        position: absolute;
        z-index: 9;

        &.open{
            display: block;
        }
    }

    &-mobile{
        padding: 20px 40px;
        background-color: $primary;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);

        &__trigger{
            font-size: 3rem;
            color: white;
        }

        &__sidemenu{
            display: block;
            visibility: hidden;
            background-color: $primary;
            position: fixed;
            top: 0;
            left: -100%;
            width: 90%;
            z-index: 10;
            min-height: 100%;
            padding: 20px 40px;
            transition: all ease .3s;

            &.open{
                visibility: visible;
                left: 0;
            }

            &__item{
                display: block;
                padding: 20px 0;
                position: relative;

                &:hover{
                    &>a, span{
                        color: $tertiary;
                    }
                }
    
                a, span{
                    text-decoration: none;
                    color: $secondary;
                    font-size: 2rem;
                    padding-bottom: 3px;
                    transition: all ease .5s;
                    display: block;
                }
    
                &.active{
                    a, span{
                        color: $tertiary;
                    }
                }

                #submenuMobile{
                    display: none;
            
                    &.open{
                        display: block;
                    }
                }

                .navbar__submenu{
                    margin-left: 20px;
                    margin-top: 10px;

                    &__item{
                        padding: 10px 0;

                        a{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
    
            #linkMaimonides{
                display: inline-block;
                border-radius: 10px;
                padding: 5px 15px;
                border: 1px solid $secondary;
                position: absolute;
                bottom: 40px;
            }
        }
    }
}

#bkg-opacity{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: .5;
    min-height: 100%;
}